*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: aliceblue;
    
}
html,body{
    width: 100%;
    height: 100%;
}
#cursor{
    height: 40px;
    width: 40px;
    background-color: rgba(0, 31, 25, 0.41);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: rgba(188, 226, 52, 0.226);
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    transition: all linear 0.1s;
    -webkit-filter: blur(80px);
}
#nav{
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 30px;
    position: fixed;
    justify-content: flex-start;
    z-index: 999;
}

#nav h4{
    text-transform: uppercase;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}
#manin{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;

}
#page1 h1::before{
    content: "WECOME TO GOD HOST";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    z-index: -1;
    -webkit-text-stroke: 2px red;
    z-index: 10;
}
#page1 h2{
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}
#page2{
    height: 100vw;
    width: 100%;
    z-index: 10;

}


#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: gilroy;
    margin: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 3px rgb(147, 178, 34);
}
#scroller h4:hover{
    color: rgb(205, 219, 51);
    -webkit-text-stroke: 2px  rgb(205, 219, 51);
}
@keyframes scroll {
    from{
        transform: translatex(0);
}
        to{
            transform: translateX(-100%);
}
}
#about-us{
    height: 60vh;
    width: 100%;
    display: flex;
    padding: 0 50px;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: space-around;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 46%;
    text-align: center;
}
#about-us-in h3{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 40px;
}
#about-us-in p{
    font-size: 14px;
    line-height: 26px;
}
#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    gap: 70px;
}
.card{
    height:80%;
    width: 24%;
    display: flex;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
}
#card1{
    background-image: url(https://media.discordapp.net/attachments/1081506489505677382/1144242367373791272/IMG_20230824_174018.png);
}
#card2{
    background-image: url(https://images-ext-1.discordapp.net/external/brZAacAFqxiSm19hLHz4vf6bVtGGPQUulFjXK4ZQoPc/https/jjlyonsmarketing-18a33.kxcdn.com/wp-content/uploads/2021/02/The-Difference-Types-of-Web-Hosting-2.jpg?width=720&height=480);
}
#card3{
    background-image: url(https://images-ext-1.discordapp.net/external/gxr5g3rI1ylzEbvlpRotgIU0jaxr1VhJuJ7xE2fOKuc/https/img.freepik.com/premium-photo/focused-gamer-playing-online-game-modern-computer-gaming-room_232070-13041.jpg) ;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(173, 242, 55);
    /*padding: 10px;*/
    padding-top: 30px;
    opacity: 0;
    transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
}
.overlay h4{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;

}
.overlay p{
    color: black;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(1,2.111,.01,16deg);
    -webkit-transform: rotate3d(1,2.111,.01,16deg);
    -moz-transform: rotate3d(1,2.111,.01,16deg);
    -ms-transform: rotate3d(1,2.111,.01,16deg);
    -o-transform: rotate3d(1,2.111,.01,16deg);
}
#green-div{
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom,rgb(28, 218, 54),rgb(18, 192, 231));
}
#green-div h4{
    color: black;
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-weight: 23px;
    text-transform: uppercase;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 12%;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(9, 9, 9);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
#page3>p{
    font-size: 30px;
    font-weight: 800;
    width: 62%;
    line-height: 50px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 12%;
    top: 22%;
}
#page3 #colon2{
    bottom: 25%;
    right: 13%;
}
#page4{
    height: 50vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
}
.elem{
    height: 70%;
    width: 50%;
    overflow: hidden;
    border-radius: 200%;
    -webkit-border-radius: 200%;
    -moz-border-radius: 200%;
    -ms-border-radius: 200%;
    -o-border-radius: 200%;
    position: relative;
}
.elem h2{
    height: 100%;
    width: 100%;
    transition: all ease 0.8s;
    background-color: rgb(21, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all ease 0.8s;
    scale: 1.1;
}
.elem:hover h2{
    color: aliceblue;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
#page4 h1{
    font-size: 100px;
    position: absolute;
    top: -27%;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 3px red
}
#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, rgb(154, 255, 3),rgb(16, 255, 132));
}